@media (max-width:700px) {
    body{
        display:initial;
        height:auto;
    }
    .cart-form{
        position: initial;
        width:100%;
        height: 500px;
        background-color:transparent;
        padding:0;
        border-radius: 0;
        display:initial;
    }
    .form-item_number-displey{
        display: none;
    }
    .form-list {
        background-color: #483eff;
        background-size:cover;
        display: flex;
        list-style: none;
        padding: 0px;
        margin: 0;
        border-radius:0;
        justify-content: center;
        align-items: center;
    }
    .form-list li {
        margin:20px 10px 80px;
        display:flex;
        align-items: center;
        gap:15px;
    }
     /* set uno */
    
    .form {
        box-sizing: border-box;
        background-color: #fff;
        position:absolute;
        top:15%;
        left:calc(50% - 200px);
        padding:20px;
        width: 80%;
        max-width: 400px;
        border-radius: 2%;
        margin:0;
    }
    .form-button{
        box-sizing: content-box;
        width: 80%;
        position: fixed;
        bottom: 5%;
        left:10%;
        display: flex;
        justify-content: end;
    }
    /* segundo formulario */
    .set-dos {
        box-sizing: border-box;
        background-color: #fff;
        position:absolute;
        top:15%;
        left:calc(50% - 200px);
        padding:20px 20px 30px 20px;
        width: 80%;
        max-width: 400px;
        border-radius: 2%;
        margin:0;
    
    }
    .set-dos_list {
        margin:20px 0 30px 0 ;
        display: flex;
        flex-direction: column;
        padding: 0;
        gap: 10px;
    }
    .set-dos_list .set-dos_list-item{
        display: grid;
        grid-template-columns: 40px auto;
        grid-template-rows: auto;
        padding: 15px;
        width: auto;
        column-gap: 10px;
        height: auto;
        border: 1px solid var(--color-primary);
        border-radius: 5px;
        margin:10px 0 0 0;
    }
    .set-dos_list-item img {
        grid-area:1 / 1 /3 /2;
    }
    .set-dos_list-item h3{
        grid-area: 1/2/2/3;
        font-size: 1.5rem;
        margin:0;
    }
    .set-dos_list-item p {
        grid-area: 2/2/2/3;
    }
    .form-button-dos {
        justify-content:space-between;
    }
    
    /* tercera parte del formulario */
    
    .set-tres {
        box-sizing: border-box;
        background-color: #fff;
        position:absolute;
        top:15%;
        left:calc(50% - 200px);
        padding:20px;
        width: 80%;
        max-width: 400px;
        border-radius: 10px;
    
    }
    
    /* cuartio set */ 
    .set-cuatro {
        box-sizing: border-box;
        background-color: #fff;
        position:absolute;
        top:15%;
        left:calc(50% - 200px);
        padding:20px;
        width: 80%;
        max-width: 400px;
        border-radius: 10px;
    }
    .set-cuatro_aside-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px 20px 0 20px ;
        padding: 20px 0 ;
        border-bottom: 1px solid #aeaeae ;
        border-width: 70%;
    }
    .form-list .set-cuatro_aside-list_item {
        display: flex;
        justify-content: space-between;
        margin: 10px 0;
    }
    
    /* cart final */
    .form .finish {
        display: none;
    }
    .finish {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: auto;
        box-sizing: border-box;
        background-color: #fff;
        position:absolute;
        top:15%;
        left:calc(50% - 200px);
        padding:30px;
        width: 80%;
        max-width: 400px;
        border-radius: 10px;
        text-align: center;
    }
    .finish h5 {
        font-size: 4rem;
        margin: 0;
    }
    .finish p{
        margin: 0;
        color: #aaa;
        font-size: 1.8rem;
    }*/
}