:root{
    --color-primary: #064E80;
    --color-secont: #4A95CA;
    --color-lite:#A7D5E6;
    --colo-bag:#76B6B3;

}

*{
    font-family: ubuntu ,Arial, Helvetica, sans-serif;
    box-sizing:content-box;
    font-size: 85%;

}
body{
    background-color: var(--color-lite);
}

.form-list {
    background-color: #fff;

    display: block;
    list-style: none;
}
.form-list li {
    display: flex;
    align-items: center;
}
.form-list_number{
    color: var(--color-primary);
    background-color:var(--color-lite) ;
    font-size: 3rem;
    padding: 5px 20px;
    line-height: 1;
    height: 45px;
    border-radius: 50%;
}